<v-flex xs12 sm6 md6 >
        <v-card >
            <v-card-title>
                <v-container grid-list-xs >
                    <v-layout row fill-height>
                        <v-flex xs2 sm2 md2>
                            <v-badge overlap left v-if="model.badge">
                                <span slot="badge">{{model.badge}}</span>
                                <v-avatar size="40px" >
                                    <v-img :src="avatar"  alt="avatar"></v-img>  
                                </v-avatar>                           
                            </v-badge>
                            <v-avatar size="40px" v-else>
                                <v-img :src="avatar"  alt="avatar"></v-img>  
                            </v-avatar>
                           
                        </v-flex>
                        <v-flex xs10 sm10 md10>
                            <v-card flat>
                                    <v-container fill-height fluid>
                                            <v-layout fill-height>
                                              <v-flex xs12 align-end flexbox>
                                                <span class="title" v-html="model.title"></span>
                                              </v-flex>
                                            </v-layout>
                                          </v-container>
    
                            
                            <v-card-text>
                                    {{model.text}} 
                            </v-card-text>
                        </v-card> 
                        </v-flex>
                    </v-layout>
                </v-container>
                
                
            </v-card-title>
            <v-divider ></v-divider>
            <v-card-actions>
                <v-container grid-list-md text-xs-center>
                    <v-layout row wrap>
                        
                        <v-flex v-for="(action,index) in model.actions" :key="index" :style="cardhrClass(index)">
                            <span >{{action}}</span>
                        </v-flex>
                        
                        
                    </v-layout>
                </v-container>
            </v-card-actions>
      </v-card>
    
    </v-flex>

    
    